* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px 1px #ddd;
    height: 10vh;
    position: fixed;
    top: 0px;
    width: 100vw;
    background-color: #fff;
}

nav ul {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height:8vh;
}

nav img {
    margin: 20px;
    height: 20px;
}

nav ul li {
    list-style-type: none;
    margin-top: 20px;
    margin-right: 5vw;
}